{% extends 'layouts/base-fullscreen.html' %}

{% block title %} Error 403 {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <!-- Page content -->
  <div class="container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <div class="pricing card-group flex-column flex-md-row mb-3">
          <div class="card card-pricing zoom-in border-0 text-center mb-4">
            <div class="card-header bg-transparent">
              <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">Free pack</h4>
            </div>
            <div class="card-body px-lg-7">
              <div class="display-2">Free</div>
              <span class="text-muted">forever</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                        <i class="fas fa-terminal"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2">Monitor prices</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                        <i class="fas fa-pen-fancy"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2">Get notifications on Telegram</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-primary mb-3">Sign up</button>
            </div>
          </div>

          <div class="card card-pricing bg-gradient-darker border-left zoom-in shadow-lg  rounded border-0 text-center mb-4">
            <div class="card-header bg-transparent">
              <h4 class="text-uppercase ls-1 text-primary py-3 mb-0">Basic pack</h4>
            </div>
            <div class="card-body px-lg-7">
              <div class="display-2">$5</div>
              <span class="text-muted">per month</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                        <i class="fas fa-terminal"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2">Monitor prices</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                        <i class="fas fa-pen-fancy"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2">Monitor Binance</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                        <i class="fas fa-pen-fancy"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2">Monitor OKX</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-gradient-primary shadow rounded-circle text-white">
                        <i class="fas fa-hdd"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2">Get notifications on Telegram</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-primary mb-3">Sign up</button>
            </div>
          </div>
          <div class="card card-pricing bg-gradient-success zoom-in shadow-lg rounded border-0 text-center mb-4">
            <div class="card-header bg-transparent">
              <h4 class="text-uppercase ls-1 text-white py-3 mb-0">Premium pack</h4>
            </div>
            <div class="card-body px-lg-7">
              <div class="display-1 text-white">$10</div>
              <span class="text-white">per month</span>
              <ul class="list-unstyled my-4">
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-muted">
                        <i class="fas fa-terminal"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-white">Monitor prices</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-muted">
                        <i class="fas fa-pen-fancy"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-white">Monitor Binance</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-muted">
                        <i class="fas fa-pen-fancy"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-white">Monitor OKX</span>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-muted">
                        <i class="fas fa-pen-fancy"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-white">Monitor Kucoin</span>
                    </div>
                  </div>
                </li>

                <li>
                  <div class="d-flex align-items-center">
                    <div>
                      <div class="icon icon-xs icon-shape bg-white shadow rounded-circle text-muted">
                        <i class="fas fa-hdd"></i>
                      </div>
                    </div>
                    <div>
                      <span class="pl-2 text-white">Get notifications on Telegram and WhatsApp</span>
                    </div>
                  </div>
                </li>
              </ul>
              <button type="button" class="btn btn-secondary mb-3">Sign up</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-lg-center px-3 mt-5">
      <div>
        <div class="icon icon-shape bg-gradient-white shadow rounded-circle text-primary">
          <i class="ni ni-building text-primary"></i>
        </div>
      </div>
    </div>
    <div class="row row-grid justify-content-center">
      <div class="col-lg-10">
        <div class="table-responsive">
          <table class="table table-dark mt-5">
            <thead>
              <tr>
                <th class="px-0 bg-transparent" scope="col">
                  <span class="text-light font-weight-700">Features</span>
                </th>
                <th class="text-center bg-transparent" scope="col">Free</th>
                <th class="text-center bg-transparent" scope="col">Basic Pack</th>
                <th class="text-center bg-transparent" scope="col">Premium Pack</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="px-0">Monitor token prices of exchanges</td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
              </tr>
              <tr>
                <td class="px-0">Get notifications on Telegram</td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
              </tr>
              <tr>
                <td class="px-0">Monitor account activities on Binance</td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
              </tr>
              <tr>
                <td class="px-0">Monitor account activities on OKX</td>
                <td class="text-center">-</td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
              </tr>
              <tr>
                <td class="px-0">Monitor account activities on Kucoin</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
              </tr>
              <tr>
                <td class="px-0">Programmable orders</td>
                <td class="text-center">-</td>
                <td class="text-center">-</td>
                <td class="text-center"><i class="fas fa-check text-success"></i></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>


{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
